<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajouter un carré</title>
</head>
<body>
	<form  th:object="${carre}" method="post">  
		<label for="nom">Surface</label> 
		<input type="text" th:field="*{surface}" id="surface" placeholder="Surface"> 
			<span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}"></span>
		<select th:field="*{typeSol}">
			<option th:each="r : ${T(com.example.potager.bo.TypeSol).values()}"
				th:value="${r}" th:text="${r}">
			</option>
		</select> 
		<select th:field="*{typeExposition}">
			<option
				th:each="e : ${T(com.example.potager.bo.Exposition).values()}"
				th:value="${e}" th:text="${e}">
			</option>
		</select> 
		<input type="submit" value="Ajouter le carré">
	</form>
</body>
</html>