<!DOCTYPE html>
<html>
<div th:replace="../fragments/header :: header"></div>


<body>
	
	
	<main class="main-custom rounded shadow-lg">
		<h1 class="text-center mt-2">Ajouter un Carré</h1>
		<form th:object="${carre}" method="post">

			<div class="row">

				<div class="form-group col-md-5 mx-auto m-3">
					<label for="surface">Surface</label>
					<input class="form-control" type="number" th:field="*{surface}" id="surface" placeholder="Surface">
					<span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}" th:class="text-danger"></span>
				</div>

				<div class="form-group col-md-5 mx-auto m-3">
				<label for="typeSol">Type de sol</label>
					<select id="typeSol"  class="form-control" th:field="*{typeSol}">
						<option th:each="r : ${T(com.example.potager.bo.TypeSol).values()}" th:value="${r}"
							th:text="${r}">
						</option>
					</select>
				</div>

				<div class="form-group col-md-5 mx-auto m-3">
				<label for="exposition">Surface</label>
					<select id="exposition" class="form-control" th:field="*{typeExposition}">
						<option th:each="e : ${T(com.example.potager.bo.Exposition).values()}" th:value="${e}"
							th:text="${e}">
						</option>
					</select>
				</div>

			</div>
			<div class="text-center">
			  <button type="submit" class="btn btn-block button-custom m-5">Créer</button>
			  <button type="button" class="btn btn-block button-custom m-5"><a class="button-a-custom" href="/potager/index">Retour</a></button>
		  	</div>
		</form>
	</main>
</body>

</html>