<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mon Potager</title>
</head>
<body>
	<div th:switch="${carres}">
		<h2 th:case="null">Vous n'avez pas encore ajouté de carré !</h2>
		<div th:case="*">
			<h2>Mes carrés</h2>
			<table>
				<thead>
					<tr>
						<th>Potager</th>
						<th>Surface</th>
						<th>Type de sol</th>
						<th>Type d'exposition</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="carre : ${carres}">
					
						<td th:text="${carre.surface}"></td>
						<td th:text="${carre.typeSol}"></td>
						<td th:text="${carre.typeExposition}"></td>
						<td><a th:href="@{/carre/edit/{id} (id=${carre.idCarre})}">Modifier</a></td>
						<td><a th:href="@{/carre/delete/{id} (id=${carre.idCarre})}">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/carre/ajout">Ajouter un nouveau carré</a>
		</p>
	</div>
</body>
</html>