<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mise à jour potager</title>
</head>
<body>
<form 
  th:action="@{/carre/update/{id}(id=${carre.idCarre})}" 
  th:object="${carre}" 
  method="post">
  	<label for="nom">Potager</label> 
		<input type="text"> 
    <label for="surface">Surface</label> 
		<input type="text" th:field="*{surface}" id="surface" placeholder="Surface"> 
			<span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}"></span>
	<label for="typeSol">Type de sol</label>
		<select>
			<option th:each="r : ${T(com.example.potager.bo.TypeSol).values()}"
				th:value="${r}" th:text="${r}">
			</option>
		</select> 
	<label for="exposition">Type d'exposition</label>
		<select>
			<option
				th:each="e : ${T(com.example.potager.bo.Exposition).values()}"
				th:value="${e}" th:text="${e}">
			</option>
		</select> 
    
    <input type="submit" value="Mise à jour">
</form>
</body>
</html>