<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mon Potager</title>
</head>
<body>
	<div th:switch="${potagers}">
		<h2 th:case="null">Vous n'avez pas encore ajouté de potager !</h2>
		<div th:case="*">
			<h2>Mes potagers</h2>
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Localisation</th>
						<th>Surface</th>
						<th>Ville</th>
						<th>Modifier</th>
						<th>Supprimer</th>
						<th>Mes carrés</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="potager : ${potagers}">
						<td th:text="${potager.nom}"></td>
						<td th:text="${potager.localisation}"></td>
						<td th:text="${potager.surface}"></td>
						<td th:text="${potager.ville}"></td>
						<td><a th:href="@{/potager/edit/{id} (id=${potager.idPotager})}">Modifier</a></td>
						<td><a th:href="@{/potager/delete/{id} (id=${potager.idPotager})}">Supprimer</a></td>
						<td> <a th:href="@{/carre/ajout/{id} (id=${potager.idPotager})}">Ajouter carrés</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/potager/saisie">Ajouter un nouveau potager</a> 	 <a href="/carre/index">Voir mes carrés</a>
		</p>
	</div>
</body>
</html>