<!DOCTYPE html>
<html>
<div th:replace="../fragments/header :: header"></div>

<body>
	<main class="text-center main-custom rounded shadow-lg">
		<h1>Potagers</h1>
		<div class="p-5" th:switch="${potagers}">
			<h2 th:case="null">Vous n'avez pas encore ajouté de potager !</h2>
			<div th:case="*">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Localisation</th>
							<th scope="col">Surface</th>
							<th scope="col">Ville</th>
							<th scope="col">Modifier</th>
							<th scope="col">Ajouter un carré</th>
							<th scope="col">Supprimer</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="potager : ${potagers}">
							<td th:text="${potager.nom}"></td>
							<td th:text="${potager.localisation}"></td>
							<td th:text="${potager.surface}"></td>
							<td th:text="${potager.ville}"></td>
							<td><a th:href="@{/potager/edit/{id} (id=${potager.idPotager})}">Modifier</a></td>
							<td><button type="button" class="btn shadow-lg button-custom"><a class="button-a-custom"
					th:href="@{/carre/ajout/{id} (id=${potager.idPotager})}">Ajouter un carré</a></button></td>
							<td><a th:href="@{/potager/delete/{id} (id=${potager.idPotager})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<button type="button" class="btn shadow-lg mt-5 button-custom"><a class="button-a-custom"
					th:href="@{/potager/ajout}">Ajouter un potager</a></button>
	</main>

	<footer class="fixed-bottom text-center text-white">
		<p>Super footer</p>
	</footer>
</body>

</html>