<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mise à jour potager</title>
</head>
<body>
<form 
  th:action="@{/potager/update/{id}(id=${potager.idPotager})}" 
  th:object="${potager}" 
  method="post">
    <label for="nom">Nom</label>
    <input type="text" th:field="*{nom}" id="nom" placeholder="Nom">
    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
    <label for="description">Localisation</label>
    <input type="text" th:field="*{localisation}" id="localisation" placeholder="Localisation">
    <span th:if="${#fields.hasErrors('localisation')}" th:errors="*{localisation}"></span>
    <label for="nom">Surface</label>
    <input type="text" th:field="*{surface}" id="surface" placeholder="Surface">
    <span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}"></span>
    <label for="nom">Ville</label>
    <input type="text" th:field="*{ville}" id="ville" placeholder="Ville">
    <span th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></span>
    
    <input type="submit" value="Mise à jour">
</form>
</body>
</html>