<!doctype html>
<html lang="en" class="h-100">
<div th:replace="../fragments/header :: header"></div>

	<body>
		<main class="text-center main-custom rounded shadow-lg">
	    <h1>Plantes</h1>
	    <div class="p-5" th:switch="${plantes}">
		<h2 th:case="null">Vous n'avez pas encore ajouté de plante !</h2>
		<div th:case="*">
	    	<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Nom</th>
			      <th scope="col">Type</th>
			      <th scope="col">variete</th>
			      <th scope="col">surface</th>
			      <th scope="col">Nombre de plante</th>
			      <th scope="col">Date de mise en place</th>
			      <th scope="col">Modifier</th>
			      <th scope="col">Supprimer</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="plante : ${plantes}">
			      <td th:text="${plante.nom}"></td>
			      <td th:text="${plante.type}"></td>
			      <td th:text="${plante.variete}"></td>
			      <td th:text="${plante.surface}"></td>
			      <td th:text="${plante.nbPlante}"></td>
			      <td th:text="${plante.miseEnPlace}"></td>
			      <td><button type="button" class="btn shadow-lg button-custom"><a class="button-a-custom" th:href="@{/plante/edit/{id} (id=${plante.idPlante})}">Modifier</a></button></td>
			      <td><button type="button" class="btn shadow-lg button-custom"><a class="button-a-custom" th:href="@{/plante/delete/{id} (id=${plante.idPlante})}">Supprimer</a></button></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<button type="button" class="btn shadow-lg mt-5 button-custom"><a class="button-a-custom" th:href="@{/plante/ajout}">Ajouter une plante</a></button>
	  </main>

	  <footer class="fixed-bottom text-center text-white">
	    <p>Super footer</p>
	  </footer>
     
  </body>
</html>