<!doctype html>
<html lang="en" class="h-100">
<div th:replace="../fragments/header :: header">

	<body>

		<nav class="navbar navbar-expand-lg navbar-dark nav-custom shadow-lg"
			aria-label="Tenth navbar example">

			<h1 class="title-custom" aria-current="page">POTAGE.COM</h1>
			<div class="collapse navbar-collapse" id="navbarsExample08">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Potager</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Carre</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Plante</a>
					</li>
				</ul>

			</div>
		</nav>

		<main class="text-center main-custom rounded shadow-lg">
			<h1>Plantes</h1>

		</main>

		<footer class="fixed-bottom text-center text-white">
			<p>Super footer</p>
		</footer>

	</body>
</html>